@import "tailwindcss";

:root {
  --background: #ebf0f2;
  --foreground: #171717;

  --primary: #05294f;
  --secondary: #8cbf3f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: "Inter", Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Helvetica, sans-serif;
}

.bg-custom-gradient {
  background: linear-gradient(
    180deg,
    rgba(5, 41, 79, 0.9) 0%,
    rgba(140, 191, 63, 0.9) 100%
  );
}

.trilha-glow {
  stroke-dasharray: 140 3000;
  stroke-dashoffset: 3000;
  opacity: 0;
}

.trilha-glow.animate {
  opacity: 1;
  animation: trilhaGlowMove 15s linear infinite;
  animation-delay: 2s;
}

@keyframes trilhaGlowMove {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: -2000;
  }
}
