.excerpt {
    font-size: 0.875rem;
    color: #374151 !important;
    /* Força a cor cinza */
    margin-bottom: 2rem;
    line-height: 1.625;
}

/* Isso garante que qualquer tag strong dentro do excerpt herde a cor correta */
.excerpt strong,
.excerpt b {
    color: inherit;
}

/* Media Query para o breakpoint 'md' */
@media (min-width: 768px) {
    .excerpt {
        font-size: 1rem;
    }
}